<%= simple_form_for @user_schedule, remote: true do |form| %>
  <% if user_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_schedule.errors.count, "error") %> prohibited this user_schedule from being saved:</h2>

      <ul>
      <% user_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label @schedule.title %> 
  </div>

  <div class="field">
    <%= form.label @schedule.description %>
  </div>

  <div class="field">
    <%= form.label 'Personal Tracker' %>
    <%= form.text_area :user_notes, id: :user_schedule_user_notes %>
  </div>

  <div class="field">
    <%= form.label 'Attending?' %>
    <%= form.check_box :attended, id: :user_schedule_attended %>
  </div>

    <div class="form-actions">
    <%= form.button :submit, :disable_with => 'Saving...' %>
    <%= link_to 'Delete', 
                schedule, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: false unless @user_schedule.new_record? %>
  </div>
<% end %>
