<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @user_schedule.schedule %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_schedule.user %>
</p>

<p>
  <strong>User notes:</strong>
  <%= @user_schedule.user_notes %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @user_schedule.attended %>
</p>

<%= link_to 'Edit', edit_user_schedule_path(@user_schedule) %> |
<%= link_to 'Back', user_schedules_path %>
