<%= simple_form_for @schedule, remote: false do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :schedule_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :schedule_description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :schedule_start_time, :default => @start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :schedule_end_time%>
  </div>

  <div class="field">
    <%= form.input :color, as: :select, collection: [['Green','green'], ['Yellow','yellow'], ['Red','red']] %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, :disable_with => 'Saving...' %>
    <%= link_to 'Delete', 
                schedule, 
                method: :delete, 
                class: 'btn btn-danger', 
                data: { confirm: 'Are you sure?' }, 
                remote: false unless @schedule.new_record? %>
  </div>
<% end %>
