<!DOCTYPE html>
<html>
  <head>
    <title>Armafit</title>
    <%= csrf_meta_tags %>
    <%= include_gon(:init => true) %>
    <%= Gon::Base.render_data({}) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Website Font style -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
  </head>

  <body>
    <%= render :partial => 'partials/navbar' %>
    <%= yield %>
    <div id='remote_container'></div>
  </body>
</html>
